
<div class="container">
	<div class="col-xs-2 col-xs-offset-8">
		<a href="#!/poll/newPoll" class="btn btn-primary">New Poll</a>
	</div>
	<div class="col-xs-2">
		<a ng-click="logout()" class="btn btn-primary">Logout</a>
	</div>
	<div class="col-xs-6 col-xs-offset 3">
		<h1>Welcome, {{user.username}}!</h1>
	</div>
	<div class="col-xs-8 col-xs-offset-2 well">
		<input type="text" placeholder="search..." class="block">
	</div>
	<div class="col-xs-8 col-xs-offset-2">
		<table>
			<thead>
				<th>Name</th>
				<th>Question</th>
				<th>Date Posted</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr ng-repeat="poll in polls">
					<td>{{poll._user.username}}</td>
					<td><a href="#!/poll/{{poll._id}}">{{poll.question}}</a></td>
					<td>{{poll.createdAt}}</td>
					<td ng-if="poll._user._id == user._id"><a href="#!/deletePoll/{{poll._id}}">Delete</a></td>
					<td ng-if="poll._user._id != user._id"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
